a{
	font-size: 13px;
	color: #000;
	font-family: arial, sans-serif;
}

.center{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 180px;
}



#search{
	position: relative;
	margin-top: 25px;
	padding: 8px;
	border: 1px solid #d9d9d9;
}

#bar{
	outline: none;
	border: none;

}

nav{
	width: 100%;
	margin: 20px 0;
}

footer{
	width: 100%;
	bottom: 0px;
	position: fixed;
	border-top: 1px solid #e4e4e4;
	background: #f2f2f2;
	height: 40px;
	vertical-align: middle;
}

.left-foot{
	list-style: none;
	float: left;

}

.left-foot ul{
	padding-left: 0px;
}

.left-foot ul li{
	padding-left: 27px;
}

.right-foot ul li{
	padding-right: 27px;
}

.right-foot{
	list-style: none;
	float: right;
	margin-right: 30px;
}

footer ul li{
	display: inline-block;
}

nav ul{
	list-style: none;
	text-align: right;
	margin-right: 30px;
}

nav ul li{
		display: inline-block;
}

.images{
	padding-left: 15px;
}

.options{
	background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
	background-position: -132px -38px;
	height: 30px;
	width: 30px;
	display: block;
	overflow: hidden;
	text-indent: 100%; 
	white-space: nowrap;
	opacity: .55;
	margin-top: -15px;	
}

.notify{
	background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
	background-color: rgba(0,0,0,.55);
	border-radius: 50%;
	background-position: -194px -21px;
	display: block;
	overflow: hidden;
	text-indent: 100%; 
	height: 20px;
	width: 20px;
	margin-left: 15px;	
}

.profile{
	background-image: url("photo.jpg");
	overflow: hidden;
	text-indent: 100%;
	display: block;
	border-radius: 50%;
	height: 32px;
	width: 32px;	
	margin-left: 15px;		
}

.nav-con{
	vertical-align: middle;
}
